<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487454394612-70372d7i0qmflrdmtjbq9nholvod9m30.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487454394612-70372d7i0qmflrdmtjbq9nholvod9m30</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>487454394612-3m3c420j72njpvmu80t6fgn340qvcg70.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZiNH0y7wrvMZACdk5NAC1pnIlOy_J1p4</string>
	<key>GCM_SENDER_ID</key>
	<string>487454394612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.fftest</string>
	<key>PROJECT_ID</key>
	<string>testflutterflowauth-aaa2e</string>
	<key>STORAGE_BUCKET</key>
	<string>testflutterflowauth-aaa2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487454394612:ios:944bbbd7431bf8bba8b6a1</string>
</dict>
</plist>